# Node
node_modules
npm-debug.log*
package-lock.json
pnpm-lock.yaml
yarn.lock
.DS_Store

# Python
__pycache__
*.py[cod]
*.pyo
*.pyd
.env
.venv
venv/

# Build artifacts
frontend/dist
backend/app/__pycache__
backend/.pytest_cache
backend/.mypy_cache

# IDE
.idea
.vscode
